apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  namespace: application
  labels:
    app: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: python-app
        image: acrtestenv.azurecr.io/python-app:latest
        ports:
        - containerPort: 5000
        resources:
          requests:
            memory: "500Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
