apiVersion: v1
kind: Service
metadata:
  name: python-app-service
  namespace: application
  labels:
    app: app
spec:
  selector:
    app: app
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  type: LoadBalancer
