name: Build & Deploy Python App

on:
  push:
    branches:
      - main
    paths:
      - 'k8s-deployment/**'
      - '**.py'
      - 'dockerfile'
      - 'requirements.txt'

env:
  IMAGE_NAME: acrtestenv.azurecr.io/python-app

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.ACR_NAME }}.azurecr.io
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME:latest .

    - name: Push Docker image
      run: |
        docker push $IMAGE_NAME:latest

  deploy:
    name: Deploy to Kubernetes
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'v1.28.0' # or your cluster version

    - name: Set kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBECONFIG_DATA }}" > $HOME/.kube/config

    - name: Update Kubernetes Deployment
      run: |
        kubectl set image deployment/python-app python-app=acrtestenv.azurecr.io/python-app:latest -n application
        kubectl rollout status deployment/python-app -n application